---
// src/partials/Banner.astro
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify } from "@/lib/utils/textConverter";

interface Button {
  link: string;
  icon: string;
  label: string;
}

interface ContactDetails {
  label: string;
  info: string;
  icon: string;
  // Optional
  link?: string;
}

interface Props {
  banner: {
    image: string;
    title: string;
    // Optional
    content?: string;
    buttons?: Button[];
    contact_details: ContactDetails[];
  };
}

const { banner } = Astro.props;
---

<link
  rel="preload"
  fetchpriority="high"
  as="image"
  type="image/webp"
  href={banner.image}
/>
<section
  class="section pt-14 bg-primary/20 bg-blend-overlay bg-cover bg-center bg-fixed"
  style={`background-image: url('${banner.image}')`}
>
  <div class="container h-screen max-h-[600px] min-h-[500px]">
    <div class="row justify-center h-full">
      <div class="lg:col-9 md:col-10 text-center h-full">
        <div
          class="grid grid-rows-[auto_1fr_auto] h-full items-center justify-center"
        >
          <!-- Title -->
          <div class="row-start-1">
            <h1
              set:html={markdownify(banner.title)}
              class="mb-6 text-h2 lg:text-h1 text-white text-shadow-lg/30"
            />
          </div>
          <!-- /Title -->

          <!-- Subtitle -->
          <div class="row-start-2 flex items-center justify-center">
            {
              banner.content && (
                <p
                  set:html={markdownify(banner.content)}
                  class="text-h6 md:text-h5 text-white text-shadow-lg/30"
                />
              )
            }
          </div>
          <!-- /Subtitle -->

          <!-- NavButtons -->
          <div class="row-start-3">
            {
              banner.buttons && banner.buttons.length > 0 && (
                <div class="flex flex-col sm:flex-row items-center justify-center gap-4 md:gap-6">
                  {banner.buttons.map((button) => (
                    <div class="col-3 lg:col-2">
                      <div class="hover:animate-pulse-strong">
                        <a
                          class="inline-flex items-center justify-center transition-all-300 border-white border-2 rounded-full w-20 h-20 bg-primary/20 hover:bg-primary/40 cursor-pointer"
                          aria-label={button.label}
                          href={button.link}
                        >
                          <DynamicIcon
                            color="white"
                            size="30"
                            icon={button.icon}
                          />
                        </a>
                      </div>
                      <p
                        set:html={markdownify(button.label)}
                        class="text-h6 md:text-h5 text-white text-shadow-lg/30 font-bold lg:font-semibold mt-2"
                      />
                    </div>
                  ))}
                </div>
              )
            }
          </div>
          <!-- /NavButtons -->

          <!-- ContactDetails -->
          <div class="row-start-4">
            {
              banner.contact_details && banner.contact_details.length > 0 && (
                <div class="flex flex-col items-center gap-3 w-full">
                  {banner.contact_details.map((entry) => (
                    <div class="w-full">
                      <a
                        href={entry.link}
                        class="flex items-start no-underline w-full px-6 py-4 rounded-xl transition-all duration-300 group bg-primary/40 backdrop-blur-sm hover:bg-primary/60 hover:shadow-lg border border-primary hover:border-primary/30"
                      >
                        <div class="shrink-0 w-16 h-16 flex items-center justify-center">
                          <button class="btn-round btn-primary dark:bg-primary/50 dark:hover:bg-primary btn-group-hover group-hover:animate-wiggle text-white dark:text-white">
                            <DynamicIcon
                              size={32}
                              icon={entry.icon}
                              class="text-white"
                            />
                          </button>
                        </div>
                        <div class="ml-4 text-left flex flex-col justify-center pt-1 ">
                          <p class=" text-xs text-white text-shadow-lg/20 md:text-shadow-xl/20 font-light m-0 leading-tight">
                            {entry.label}
                          </p>
                          <p class="text-h6 md:text-h5 text-white text-shadow-lg/20 md:text-shadow-xl/20 font-semibold m-0 mt-1 leading-tight">
                            {entry.info}
                          </p>
                        </div>
                      </a>
                    </div>
                  ))}
                </div>
              )
            }
          </div>
          <!-- /ContactDetails -->
        </div>
      </div>
    </div>
  </div>
</section>
