---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { render } from "astro:content";
import ImageMod from "@/components/ImageMod.astro";

// get static paths for all pages
export async function getStaticPaths() {
  const COLLECTION_FOLDER = "pages";

  const pages = await getSinglePage(COLLECTION_FOLDER);

  const paths = pages.map((page) => ({
    params: {
      regular: page.id,
    },
    props: { page },
  }));
  return paths;
}

const { page } = Astro.props;
const { title, meta_title, description, image } = page.data;
const { Content } = await render(page);
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <!-- Banner -->
  <section
    class="section pt-14 bg-fuchsia-400/20 bg-blend-overlay bg-cover bg-center bg-fixed"
    style={`background-image: ${image ? `url('${image}')` : "none"}`}
  >
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-9 md:col-10 mb-8 text-center min-h-128">
          <h1
            set:html={title}
            class="mt-16 mb-8 text-h2 lg:text-h1 text-white text-shadow-lg/30"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- /Banner -->

  <!-- Content -->
  <div class="container pt-8">
    <div class="row justify-center">
      <div class="md:col-10 lg:col-10">
        <div class="content">
          <Content />
        </div>
      </div>
    </div>
  </div>
  <!-- /Content -->
</Base>
