---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
// import CallToAction from "@/partials/CallToAction.astro";
import Testimonial from "@/partials/Testimonial.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";
import DynamicIcon from "@/helpers/DynamicIcon";
import { FaCheck } from "react-icons/fa";

const homepage = (await getEntry(
  "homepage",
  "-index",
)) as CollectionEntry<"homepage">;

const { Content } = await render(homepage);

// const call_to_action = await getListPage("ctaSection", "call-to-action");
const testimonial = await getListPage("testimonialSection", "testimonial");

const { banner, services, offers } = homepage.data;
---

<Base>
  <!-- Banner -->
  <section
    class="section pt-14 bg-fuchsia-400/20 bg-blend-overlay bg-cover bg-center bg-fixed"
    style={`background-image: ${`url('${banner.image}')`}`}
  >
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-9 md:col-10 mb-8 text-center min-h-128">
          <h1
            set:html={markdownify(banner.title)}
            class="mt-16 mb-8 text-h2 lg:text-h1 text-white text-shadow-lg/30"
          />
          <p
            set:html={markdownify(banner.content)}
            class="mb-32 text-h6 md:text-h5 text-white text-shadow-lg/30"
          />

          <div class="flex flex-col sm:flex-row items-center justify-center gap-4 md:gap-6 mt-6">
            {
              banner.buttons?.map((button) => (
                <div class="col-3 lg:col-2">
                  <div class="hover:animate-pulse-strong">
                    <a 
                      class="inline-flex items-center justify-center transition-all-300 border-white border-2 rounded-full w-20 h-20 bg-fuchsia-400/20 hover:bg-fuchsia-400/40 cursor-pointer"
                      href={button.link}
                    >
                      <DynamicIcon color="white" size="30" icon={button.icon}/>
                    </a>
                  </div>
                  <p
                    set:html={markdownify(button.label)}
                    class="text-h6 md:text-h5 text-white text-shadow-lg/30 font-bold lg:font-semibold"
                  />
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Banner -->

  <!-- Content -->
  <div class="container pt-8">
    <div class="row justify-center">
      <div class="md:col-10 lg:col-10">
        <div class="content">
          <Content />
        </div>
      </div>
    </div>
  </div>
  <!-- /Content -->

  <!-- About Me -->
  <Testimonial testimonial={testimonial} />
  <!-- /About Me -->

  <!-- Leistungen -->
  <div class="container mt-8" id={services.id}>
    <div class="row my-8">
      <div class="col-12 mb-4">
        <div class="relative flex items-center">
          <div class="grow border-t"></div>
          <h2 class="mx-6 whitespace-nowrap">{services.title}</h2>
          <div class="grow border-t"></div>
        </div>
      </div>
      <div class="col-12">
        <p set:html={markdownify(services.description)} class="text-lg" />
      </div>
    </div>
    {
      services.features.map((feature, index: number) => (
        <section class={`section-sm ${index % 2 === 0 && "bg-gradient"}`}>
          <div class="container">
            <div class="row items-center justify-between">
              <div
                class={`mb:md-0 mb-6 md:col-5 ${index % 2 !== 0 && "md:order-2"}`}
              >
                <a href={feature.button.link} class="block relative w-full max-w-md mx-auto overflow-hidden rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl">
                  <ImageMod
                    src={feature.image}
                    height={480}
                    width={520}
                    alt={feature.title}
                    class="w-full aspect-3/2 object-cover transition-transform duration-300"
                    // class="aspect-3/2 object-cover object-center object-fixed"
                    format="webp"
                  />
                  <!-- Overlay that appears on hover -->
                  <div class="absolute inset-0 opacity-0 transition-all duration-300 hover:bg-fuchsia-400/40 hover:opacity-100 flex items-center justify-center">
                      <span class="text-white text-lg font-semibold tracking-wide">Mehr erfahren</span>
                  </div>
                </a>
              </div>
              <div
                class={`md:col-7 lg:col-6 ${index % 2 !== 0 && "md:order-1"}`}
              >
                <h3 set:html={markdownify(feature.title)} class="mb-4" />
                <p
                  set:html={markdownify(feature.content)}
                  class="mb-8 text-lg"
                />
                <ul>
                  {feature.bulletpoints.map((bullet: string) => (
                    <li class="relative mb-4 pl-6">
                      <FaCheck className={"absolute left-0 top-1.5"} />
                      <span set:html={markdownify(bullet)} />
                    </li>
                  ))}
                </ul>
                {feature.button.enable && (
                  <a class="btn btn-primary mt-5" href={feature.button.link}>
                    {feature.button.label}
                  </a>
                )}
              </div>
            </div>
          </div>
        </section>
      ))
    }
  </div>
  <!-- /Leistungen -->

  <!-- Zusatzangebote -->
  <div class="container mt-8" id={offers.id}>
    <div class="row my-8">
      <div class="col-12 mb-4">
        <div class="relative flex items-center">
          <div class="grow border-t"></div>
          <h2 class="mx-6 whitespace-nowrap">{offers.title}</h2>
          <div class="grow border-t"></div>
        </div>
      </div>
      <div class="col-12">
        <p set:html={markdownify(offers.description)} class="text-lg" />
      </div>
    </div>
    {
      offers.features.map((feature, index: number) => (
        <section class={`section-sm ${index % 2 === 0 && "bg-gradient"}`}>
          <div class="container">
            <div class="row items-center justify-between">
              <div
                class={`mb:md-0 mb-6 md:col-5 ${index % 2 !== 0 && "md:order-2"}`}
              >
                <a href={feature.button.link} class="block relative w-full max-w-md mx-auto overflow-hidden rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl">
                  <ImageMod
                    src={feature.image}
                    height={480}
                    width={520}
                    alt={feature.title}
                    class="w-full aspect-3/2 object-cover transition-transform duration-300"
                    // class="aspect-3/2 object-cover object-center object-fixed"
                    format="webp"
                  />
                  <!-- Overlay that appears on hover -->
                  <div class="absolute inset-0 opacity-0 transition-all duration-300 hover:bg-fuchsia-400/40 hover:opacity-100 flex items-center justify-center">
                      <span class="text-white text-lg font-semibold tracking-wide">Mehr erfahren</span>
                  </div>
                </a>
              </div>
              <div
                class={`md:col-7 lg:col-6 ${index % 2 !== 0 && "md:order-1"}`}
              >
                <h3 set:html={markdownify(feature.title)} class="mb-4" />
                <p
                  set:html={markdownify(feature.content)}
                  class="mb-8 text-lg"
                />
                <ul>
                  {feature.bulletpoints.map((bullet: string) => (
                    <li class="relative mb-4 pl-6">
                      <FaCheck className={"absolute left-0 top-1.5"} />
                      <span set:html={markdownify(bullet)} />
                    </li>
                  ))}
                </ul>
                {feature.button.enable && (
                  <a class="btn btn-primary mt-5" href={feature.button.link}>
                    {feature.button.label}
                  </a>
                )}
              </div>
            </div>
          </div>
        </section>
      ))
    }
    <!-- /Zusatzangebote -->

    <!-- <CallToAction call_to_action={call_to_action} /> -->
  </div>
</Base>
